{{#with challengeTracker}}
<form data-owner-id="{{ownerId}}" data-challenge-tracker-id="{{id}}">
  <section class="challenge-tracker-edit-form flexcol">
    <div class="challenge-tracker-form-box">
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.titleTooltip"}}">
        <label for="title">{{localize "challengeTracker.labels.editForm.title"}}:</label>
        <input type="text" id="title" name="title" data-dtype="String" value="{{title}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.sizeTooltip"}}">
        <label for="size">{{localize "challengeTracker.labels.editForm.size"}}:</label>
        <input type="number" id="size" name="size" data-dtype="Number" value="{{size}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.scrollTooltip"}}">
        <label for="scroll">{{localize "challengeTracker.labels.editForm.scroll"}}:</label>
        <input type="checkbox" name="scroll" data-dtype="Boolean" {{checked scroll}}>
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.showTooltip"}}">
        <label for="show">{{localize "challengeTracker.labels.editForm.show"}}:</label>
        <input type="checkbox" name="show" data-dtype="Boolean" {{checked show}}>
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.windowedTooltip"}}">
        <label for="windowed">{{localize "challengeTracker.labels.editForm.windowed"}}:</label><br>
        <input type="checkbox" name="windowed" data-dtype="Boolean" {{checked windowed}}>
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.outerTitle"}}</h2>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.outerTotalTooltip"}}">
        <label for="outerTotal">{{localize "challengeTracker.labels.editForm.outerTotal"}}:</label>
        <input type="number" id="outerTotal" name="outerTotal" data-dtype="Number" value="{{outerTotal}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.outerCurrentTooltip"}}">
        <label for="outerCurrent">{{localize "challengeTracker.labels.editForm.outerCurrent"}}:</label>
        <input type="number" id="outerCurrent" name="outerCurrent" data-dtype="Number" value="{{outerCurrent}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.outerBackgroundColorTooltip"}}">
        <label for="outerBackgroundColor">{{localize "challengeTracker.labels.editForm.outerBackgroundColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerBackgroundColor}}" name="outerBackgroundColor" id="outerBackgroundColor">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.outerColorTooltip"}}">
        <label for="outerColor">{{localize "challengeTracker.labels.editForm.outerColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerColor}}" name="outerColor" id="outerColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.innerTitle"}}</h2>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.innerTotalTooltip"}}">
        <label for="innerTotal">{{localize "challengeTracker.labels.editForm.innerTotal"}}:</label>
        <input type="number" id="innerTotal" name="innerTotal" data-dtype="Number" value="{{innerTotal}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.innerCurrentTooltip"}}">
        <label for="innerCurrent">{{localize "challengeTracker.labels.editForm.innerCurrent"}}:</label>
        <input type="number" id="innerCurrent" name="innerCurrent" data-dtype="Number" value="{{innerCurrent}}">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.innerBackgroundColorTooltip"}}">
        <label for="innerBackgroundColor">{{localize "challengeTracker.labels.editForm.innerBackgroundColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerBackgroundColor}}" name="innerBackgroundColor" id="innerBackgroundColor">
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.innerColorTooltip"}}">
        <label for="innerColor">{{localize "challengeTracker.labels.editForm.innerColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerColor}}" name="innerColor" id="innerColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.imageTitle"}}</h2>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.backgroundImageTooltip"}}">
        <label for="backgroundImage">{{localize "challengeTracker.labels.editForm.backgroundImage"}}:</label>
        <div class="challenge-tracker-form-file-picker-group">
          <input type="text" id="backgroundImage" name="backgroundImage" data-dtype="text" value="{{backgroundImage}}">
          {{filePicker target="backgroundImage" type="image"}}
        </div>
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.foregroundImageTooltip"}}">
        <label for="foregroundImage">{{localize "challengeTracker.labels.editForm.foregroundImage"}}:</label>
        <div class="challenge-tracker-form-file-picker-group">
          <input type="text" id="foregroundImage" name="foregroundImage" data-dtype="text" value="{{foregroundImage}}">
          {{filePicker target="foregroundImage" type="image"}}
        </div>
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.frameTitle"}}</h2>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.frameWidthTooltip"}}">
        <label for="frameWidth">{{localize "challengeTracker.labels.editForm.frameWidth"}}:</label>
        <select id="frameWidth" name="frameWidth">
          {{#select frameWidth}}
          <option value="none">{{localize "challengeTracker.settings.frameWidth.choices.none"}}</option>
          <option value="extra-thin">{{localize "challengeTracker.settings.frameWidth.choices.extraThin"}}</option>
          <option value="thin">{{localize "challengeTracker.settings.frameWidth.choices.thin"}}</option>
          <option value="medium">{{localize "challengeTracker.settings.frameWidth.choices.medium"}}</option>
          <option value="thick">{{localize "challengeTracker.settings.frameWidth.choices.thick"}}</option>
          {{/select}}
        </select>
      </div>
      <div class="form-group" title="{{localize "challengeTracker.labels.editForm.frameColorTooltip"}}">
        <label for="frameColor">{{localize "challengeTracker.labels.editForm.frameColor"}}:</label>
        <input data-color-picker="{required: false}" value="{{frameColor}}" name="frameColor" id="frameColor">
      </div>
    </div>
  </section>
  <footer class="flexrow">
    <button type="submit" name="submit" class="challenge-tracker-submit-button">
      <i class="fas fa-save"></i>{{localize "challengeTracker.labels.editForm.save"}}
    </button>
  </footer>
</form>
{{/with}}