<form data-owner-id="{{ownerId}}">
  <ul class="challenge-tracker-form flexcol">
    {{#each challengeTrackerList}}
      <li data-owner-id="{{ownerId}}" data-challenge-tracker-id="{{id}}">
        <div class="flexrow">
          <div>
            {{title}}
          </div>
          <div style="flex: none; justify-content: flex-end;">
            [{{outerCurrent}}/{{outerTotal}}]{{#ifEquals innerTotal 0}}{{else}} [{{innerCurrent}}/{{innerTotal}}]{{/ifEquals}}
          </div>
        </div>
        <div class="challenge-tracker-form-button-group">
          <div class="challenge-tracker-form-button-col-group">
            <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.moveUpTooltip"}}" data-action="move-up" class="flex0 challenge-tracker-button icon-only" {{moveUpDisabled}}>
              <i class="fas fa-caret-up"></i>
            </button>
            <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.moveDownTooltip"}}" data-action="move-down" class="flex0 challenge-tracker-button icon-only" {{moveDownDisabled}}>
              <i class="fas fa-caret-down"></i>
            </button>
          </div>
          <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.openTooltip"}}" data-action="open" class="flex0 challenge-tracker-button icon-with-text">
            <i class="fas fa-folder-open"></i>{{localize "challengeTracker.labels.form.open"}}
          </button>
          <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.editTooltip"}}" data-action="edit" class="flex0 challenge-tracker-button icon-with-text">
            <i class="fas fa-pen"></i>{{localize "challengeTracker.labels.form.edit"}}
          </button>
          <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.copyTooltip"}}" data-action="copy" class="flex0 challenge-tracker-button icon-with-text">
            <i class="fas fa-copy"></i>{{localize "challengeTracker.labels.form.copy"}}
          </button>
          <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.deleteTooltip"}}" data-action="delete" class="flex0 challenge-tracker-button icon-with-text">
            <i class="fas fa-trash"></i>{{localize "challengeTracker.labels.form.delete"}}
          </button>
        </div>
      </li>
    {{/each}}
  </ul>
  <footer class="flexrow">
    <button type="button" data-tooltip="{{localize "challengeTracker.labels.form.newTooltip"}}" data-action="new" class="challenge-tracker-button">
      <i class="fas fa-plus"></i>{{localize "challengeTracker.labels.form.new"}}
    </button>
  </footer>
</form>