{{#with challengeTracker}}
<form data-owner-id="{{ownerId}}" data-challenge-tracker-id="{{id}}">
  <section class="challenge-tracker-edit-form flexcol">
    <div class="challenge-tracker-form-box">
      <div class="form-group" title="Set the name of the challenge tracker">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" data-dtype="String" value="{{title}}">
      </div>
      <div class="form-group" title="Set the size of the challenge tracker in pixels">
        <label for="size">Size:</label>
        <input type="number" id="size" name="size" data-dtype="Number" value="{{size}}">
      </div>
      <div class="form-group" title="Show the challenge tracker to others">
        <label for="show">Show to Others:</label>
        <input type="checkbox" name="show" data-dtype="Boolean" {{checked show}}>
      </div>
      <div class="form-group" title="Display the challenge tracker in a window">
        <label for="windowed">Windowed:</label><br>
        <input type="checkbox" name="windowed" data-dtype="Boolean" {{checked windowed}}>
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h3>Outer</h3>
      <div class="form-group" title="Set the number of segments on the outer ring">
        <label for="outerTotal">Total Segments:</label>
        <input type="number" id="outerTotal" name="outerTotal" data-dtype="Number" value="{{outerTotal}}">
      </div>
      <div class="form-group" title="Set the number of current segments on the outer ring">
        <label for="outerCurrent">Current Segments:</label>
        <input type="number" id="outerCurrent" name="outerCurrent" data-dtype="Number" value="{{outerCurrent}}">
      </div>
      <div class="form-group" title="Set the hex color of the outer ring">
        <label for="outerColor">Color:</label>
        <input data-jscolor="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerColor}}" name="outerColor" id="outerColor">
      </div>
      <div class="form-group" title="Set the background hex color of the outer ring">
        <label for="outerBackgroundColor">Background Color:</label>
        <input data-jscolor="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerBackgroundColor}}" name="outerBackgroundColor" id="outerBackgroundColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h3>Inner</h3>
      <div class="form-group" title="Set the number of segments on the inner circle.">
        <label for="innerTotal">Total Segments:</label>
        <input type="number" id="innerTotal" name="innerTotal" data-dtype="Number" value="{{innerTotal}}">
      </div>
      <div class="form-group" title="Set the number of current segments on the inner circle">
        <label for="innerCurrent">Current Segments:</label>
        <input type="number" id="innerCurrent" name="innerCurrent" data-dtype="Number" value="{{innerCurrent}}">
      </div>
      <div class="form-group" title="Set the hex color of the inner circle">
        <label for="innerColor">Color:</label>
        <input data-jscolor="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerColor}}" name="innerColor" id="innerColor">
      </div>
      <div class="form-group" title="Set the background hex color of the inner circle">
        <label for="innerBackgroundColor">Background Color:</label>
        <input data-jscolor="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerBackgroundColor}}" name="innerBackgroundColor" id="innerBackgroundColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h3>Frame</h3>
      <div class="form-group" title="Set the hex color of the frame">
        <label for="frameColor">Color:</label>
        <input data-jscolor="{required: false}" value="{{frameColor}}" name="frameColor" id="frameColor">
      </div>
    </div>
  </section>
  <footer class="flexrow">
    <button type="submit" name="submit" class="challenge-tracker-submit-button">
      <i class="fas fa-save"></i>Save and Close
    </button>
  </footer>
</form>
{{/with}}