{{#with challengeTracker}}
<form data-owner-id="{{ownerId}}" data-challenge-tracker-id="{{id}}">
  <section class="challenge-tracker-edit-form flexcol">
    <div class="challenge-tracker-form-box">
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.titleTooltip"}}">
        <label for="title">{{localize "challengeTracker.labels.editForm.trackerOptions.title"}}:</label>
        <input type="text" id="title" name="title" data-dtype="String" value="{{title}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.sizeTooltip"}}">
        <label for="size">{{localize "challengeTracker.labels.editForm.trackerOptions.size"}}:</label>
        <input type="number" id="size" name="size" data-dtype="Number" value="{{size}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.scrollTooltip"}}">
        <label for="scroll">{{localize "challengeTracker.labels.editForm.trackerOptions.scroll"}}:</label>
        <input type="checkbox" name="scroll" data-dtype="Boolean" {{checked scroll}}>
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.showTooltip"}}">
        <label for="show">{{localize "challengeTracker.labels.editForm.trackerOptions.show"}}:</label>
        <input type="checkbox" name="show" data-dtype="Boolean" {{checked show}}>
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.windowedTooltip"}}">
        <label for="windowed">{{localize "challengeTracker.labels.editForm.trackerOptions.windowed"}}:</label><br>
        <input type="checkbox" name="windowed" data-dtype="Boolean" {{checked windowed}}>
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.trackerOptions.outerTitle"}}</h2>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.outerTotalTooltip"}}">
        <label for="outerTotal">{{localize "challengeTracker.labels.editForm.trackerOptions.outerTotal"}}:</label>
        <input type="number" id="outerTotal" name="outerTotal" data-dtype="Number" value="{{outerTotal}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.outerCurrentTooltip"}}">
        <label for="outerCurrent">{{localize "challengeTracker.labels.editForm.trackerOptions.outerCurrent"}}:</label>
        <input type="number" id="outerCurrent" name="outerCurrent" data-dtype="Number" value="{{outerCurrent}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.outerBackgroundColorTooltip"}}">
        <label for="outerBackgroundColor">{{localize "challengeTracker.labels.editForm.trackerOptions.outerBackgroundColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerBackgroundColor}}" name="outerBackgroundColor" id="outerBackgroundColor">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.outerColorTooltip"}}">
        <label for="outerColor">{{localize "challengeTracker.labels.editForm.trackerOptions.outerColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{outerColor}}" name="outerColor" id="outerColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.trackerOptions.innerTitle"}}</h2>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.innerTotalTooltip"}}">
        <label for="innerTotal">{{localize "challengeTracker.labels.editForm.trackerOptions.innerTotal"}}:</label>
        <input type="number" id="innerTotal" name="innerTotal" data-dtype="Number" value="{{innerTotal}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.innerCurrentTooltip"}}">
        <label for="innerCurrent">{{localize "challengeTracker.labels.editForm.trackerOptions.innerCurrent"}}:</label>
        <input type="number" id="innerCurrent" name="innerCurrent" data-dtype="Number" value="{{innerCurrent}}">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.innerBackgroundColorTooltip"}}">
        <label for="innerBackgroundColor">{{localize "challengeTracker.labels.editForm.trackerOptions.innerBackgroundColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerBackgroundColor}}" name="innerBackgroundColor" id="innerBackgroundColor">
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.innerColorTooltip"}}">
        <label for="innerColor">{{localize "challengeTracker.labels.editForm.trackerOptions.innerColor"}}:</label>
        <input data-color-picker="{required: false, alphaChannel:true, format:'hexa'}" value="{{innerColor}}" name="innerColor" id="innerColor">
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.trackerOptions.imageTitle"}}</h2>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.backgroundImageTooltip"}}">
        <label for="backgroundImage">{{localize "challengeTracker.labels.editForm.trackerOptions.backgroundImage"}}:</label>
        <div class="challenge-tracker-form-file-picker-group">
          <input type="text" id="backgroundImage" name="backgroundImage" data-dtype="text" value="{{backgroundImage}}">
          {{filePicker target="backgroundImage" type="image"}}
        </div>
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.foregroundImageTooltip"}}">
        <label for="foregroundImage">{{localize "challengeTracker.labels.editForm.trackerOptions.foregroundImage"}}:</label>
        <div class="challenge-tracker-form-file-picker-group">
          <input type="text" id="foregroundImage" name="foregroundImage" data-dtype="text" value="{{foregroundImage}}">
          {{filePicker target="foregroundImage" type="image"}}
        </div>
      </div>
    </div>
    <div class="challenge-tracker-form-box">
      <h2>{{localize "challengeTracker.labels.editForm.trackerOptions.frameTitle"}}</h2>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.frameWidthTooltip"}}">
        <label for="frameWidth">{{localize "challengeTracker.labels.editForm.trackerOptions.frameWidth"}}:</label>
        <select id="frameWidth" name="frameWidth">
          {{#select frameWidth}}
          <option value="none">{{localize "challengeTracker.settings.frameWidth.choices.none"}}</option>
          <option value="extra-thin">{{localize "challengeTracker.settings.frameWidth.choices.extraThin"}}</option>
          <option value="thin">{{localize "challengeTracker.settings.frameWidth.choices.thin"}}</option>
          <option value="medium">{{localize "challengeTracker.settings.frameWidth.choices.medium"}}</option>
          <option value="thick">{{localize "challengeTracker.settings.frameWidth.choices.thick"}}</option>
          {{/select}}
        </select>
      </div>
      <div class="form-group" data-tooltip="{{localize "challengeTracker.labels.editForm.trackerOptions.frameColorTooltip"}}">
        <label for="frameColor">{{localize "challengeTracker.labels.editForm.trackerOptions.frameColor"}}:</label>
        <input data-color-picker="{required: false}" value="{{frameColor}}" name="frameColor" id="frameColor">
      </div>
    </div>
  </section>
  <footer class="flexrow">
    <button type="submit" name="submit" class="challenge-tracker-submit-button">
      <i class="fas fa-save"></i>{{localize "challengeTracker.labels.editForm.save"}}
    </button>
  </footer>
</form>
{{/with}}